@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Silkscreen', sans-serif;
}
label{
    font-size: 1rem;
    margin-bottom: 4px;
}
span{
    font-size: 0.7rem;
}
.controles{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    /* width: 100%; */
    background-color:  #eee;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: rgb(228, 226, 226);

}
#add{
    background-color: burlywood;
}
#Objects{
    background-color: rgb(154, 216, 103);
}
#remove{
    background-color: rgb(196, 51, 51);
    display: flex;
    align-items: left;
    justify-content:end;
}
p{
    background-color: white;
}
.controle{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    margin: 5px;

}
button {
    cursor: pointer;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    background-color: blue;
}
input[type='number'], #num_objetos {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 150px;
}
.palco{
    display: flex;
    width: 100%;
   min-height: 100vh;
   min-height: fill-available;
   min-height: -webkit-fill-available;
    background-color: #f8eded;
    border: 2px solid #000000;
    border-radius: 5px;
    position: absolute;
    overflow: hidden;
}
.bola{
    position: absolute;
    border-radius: 100px;
}